SESI 1 - Introduction to Python

1. Tipe Data
    - Integer
    - Float
    - String
    - Boolean
2. Variabel
3. Operators and Expressions in Python
    - Arithmetic Operators
    - Comparison Operators
4. List

1. Tipe Data

In [3]:
# Integer
print('Ini integer: ', 2)
print(type(2))

Ini integer:  2
<class 'int'>

In [4]:
#Float
print('Ini integer: ', 2.5)
print(type(2.5))

Ini integer:  2.5
<class 'float'>

In [6]:
#string
print('Ini String: ', 'Hahaha')
print(type('Hahaha'))

Ini String:  Hahaha
<class 'str'>

In [7]:
#Boolean
print(True)
print(False)
print(type(True))

True
False
<class 'bool'>

2. Variabel

In [9]:
x = 14
print(x)

14

In [10]:
ex = 'Hello Taufiq'
print(ex)

Hello Taufiq

3. Operators and Expressions

In [11]:
#Arithmetic Operators
x = 9
y = 5

tambah = x+y
kurang = x-y
bagi = x/y
kali = y*x

print(tambah)
print(kurang)
print(bagi)
print(kali)

14
4
1.8
45

In [12]:
#Comparison Operators
a = 14
b = 7

print(a>b)
print(b<a)
print(b==a)
print(a!=b)

True
True
False
True

In [13]:
#List
list = [1,2,3,4,5]
print(list)
print(type(list))

[1, 2, 3, 4, 5]
<class 'list'>