In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

SOAL NO 4
a) Buatlah sebuah Series dengan menggunakan library Pandas!
b) Index pada Series tersebut berupa huruf lowercase dari a hingga z.
c) Data dari tiap indexnya adalah nomor dari 1 hingga 26.

In [2]:
huruf = list('abcdefghijklmnopqrstuvwxyz')
data = list(range(1, 27))
pd.Series(data, index=huruf)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
k    11
l    12
m    13
n    14
o    15
p    16
q    17
r    18
s    19
t    20
u    21
v    22
w    23
x    24
y    25
z    26
dtype: int64

SOAL NO 5
a) Buatlah sebuah Series menggunakan angka random integer dari 1 hingga 5 sebanyak 100!
b) Hitunglah banyaknya frekuensi tiap angka!
c) Cari tahu 2 nilai dengan frekuensi tertinggi!

In [3]:
#Series yang terdiri dari angka random integer 1 sampai 5 sebanyak 100
nilai = np.random.randint(1, 6, 100)
pd.Series(nilai)

0     4
1     1
2     4
3     3
4     1
     ..
95    5
96    5
97    4
98    4
99    4
Length: 100, dtype: int64

In [4]:
#JUmlah data tiap angka
pd.Series(nilai).value_counts()

1    26
4    21
2    20
5    18
3    15
dtype: int64

In [5]:
#dua nagka terbanyak
pd.Series(nilai).value_counts().head(2)

1    26
4    21
dtype: int64

SOAL NO 6
a) Import library “seaborn”. Lalu, load data yang bernama “MPG”!
b) Tampilkan 5 data teratas pada DataFrame dari data “MPG”!
c) Tampilkan statistik deskriptif atau Describe data selain data numerik!
d) Tampilkan seluruh nama kolom pada DataFrame!
e) Hitung Jumlah Missing Value (data kosong) di setiap kolomnya!

In [6]:
mpg = sns.load_dataset('mpg')
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [7]:
#5 data teratas pada DataFrame dari data “MPG”!
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [8]:
#statistik deskriptif atau Describe data selain data numerik!
mpg.describe(include='object')

       origin        name
count     398         398
unique      3         305
top       usa  ford pinto
freq      249           6

In [9]:
#tampilkan nama kolom dataframe
mpg.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [10]:
#hitung missing value
mpg.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64