In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

SOAL 7
a) Import library “seaborn”, lalu load data yang bernama “MPG”!
b) Tampilkan Missing value (data kosong) pada kolom ‘horsepower’!
c) Tampilkan index lokasi missing value tersebut!

In [2]:
mpg = sns.load_dataset('mpg')
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [31]:
#Menampilkan data missing value kolom horsepower
mpg[mpg['horsepower'].isnull()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl

In [8]:
#index lokasi missing value
mpg[mpg['horsepower'].isnull()].index

Int64Index([32, 126, 330, 336, 354, 374], dtype='int64')

SOAL 8
a) Import library “seaborn”, lalu load data yang bernama “MPG”!
b) Lakukan grouping atau pengelompokan berdasarkan kolom ‘origin’!
C) Tampilkan rata-rata dari ‘horsepower’ di setiap kelompok originnya!

In [10]:
mpg = sns.load_dataset('mpg')
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [13]:
#grouping berdasarkan kolom ‘origin’!
mpg.groupby('origin')

In [14]:
#rata-rata dari ‘horsepower’ di setiap kelompok originnya!
mpg.groupby('origin')['horsepower'].mean()

origin
europe     80.558824
japan      79.835443
usa       119.048980
Name: horsepower, dtype: float64

SOAL 9
a) Import library “seaborn”, lalu load data yang bernama “MPG”!
b) Buatlah sebuah kolom baru yang bernama ‘horse_origin’!
c) Kolom ‘horse_origin’ ini harus diisi menggunakan fungsi berisikan:
    ❑ Jika nilai ‘horsepower’ < 105, tampilkan ‘lower’ + ‘nama origin’ pada baris yang sama. Contohnya ‘lower USA’.
    ❑ Jika nilai ‘horsepower’ >= 105, tampilkan ‘upper’ + ‘nama origin’.

In [15]:
mpg = sns.load_dataset('mpg')
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [34]:
#membuat fungsi
def horse_origin(horsepower, origin):
    if horsepower < 105:
        return 'lower ' + origin
    else:
        return 'upper ' + origin

In [36]:
#membuat kolom baru dari fungsi
mpg['horse_origi'] = mpg.apply(lambda x: horse_origin(x['horsepower'], x['origin']), axis=1)
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horse_origini,horse_origin,horse_original
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,upper usa,upper usa,upper usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,upper usa,upper usa,upper usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,upper usa,upper usa,upper usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,upper usa,upper usa,upper usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,upper usa,upper usa,upper usa
...,...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,lower usa,lower usa,lower usa
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,lower europe,lower europe,lower europe
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,lower usa,lower usa,lower usa
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,lower usa,lower usa,lower usa
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,lower usa,lower usa,lower usa

SOAL 10
a) Import library “seaborn”, lalu load data yang bernama “MPG”!
b) Lakukan pengelompokan atau grouping kolom ‘weight’ berdasarkan kolom ‘origin’ dengan aggregating mean, standart deviasi, sum, count, min, dan max!
c) Lakukan reset index sehingga kolom ‘origin’ tidak lagi menjadi index tapi tetap menjadi kolom!

In [20]:
mpg = sns.load_dataset('mpg')
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [25]:
mpg.groupby('origin')['weight']

In [29]:
#aggregating mean, standart deviasi, sum, count, min, dan max!
mpg.groupby('origin')['weight'].agg(['mean','std','sum','count','min','max'])

               mean         std     sum  count   min   max
origin
europe  2423.300000  490.043191  169631     70  1825  3820
japan   2221.227848  320.497248  175477     79  1613  2930
usa     3361.931727  794.792506  837121    249  1800  5140

In [30]:
#reset index
mpg.groupby('origin')['weight'].agg(['mean','std','sum','count','min','max']).reset_index()

   origin         mean         std     sum  count   min   max
0  europe  2423.300000  490.043191  169631     70  1825  3820
1   japan  2221.227848  320.497248  175477     79  1613  2930
2     usa  3361.931727  794.792506  837121    249  1800  5140